<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Success
<span id="user"></span>
<script>
    window.onload = function () {
        var xhr = new XMLHttpRequest();

        xhr.onerror = function () {
            console.log('error');
        }

        xhr.onreadystatechange = function () {
            if(this.readyState == 4 && this.status === 200) {
                var response = this.response;
                var user = document.getElementById('user');
                var authority = document.getElementById('authority');
                user.innerHTML = this.response.toString();
            }
        }
        xhr.open('GET', '/user', true);
        xhr.send();
    }
</script>
</body>
</html>